div.main {
		padding-top: 30px;
	}

.navbar-brand > img {
	max-width: 24px;
	vertical-align:middle;
	float:left;
}

.navbar-brand > span{
	padding-left:10px;
	float:left;
	font-size: 24px;
	font-weight: bold;
	color: white;
	line-height: 24px;
	vertical-align:middle;
}

.navbar .image-clip {
	max-height: 18px;
	height: auto;
	width: auto;
}

.social > li > a{
	padding-right: 7px;
	padding-left: 7px;
}

.social> li.dropdown > a{
	padding-right: 30px;
	padding-left: 30px;
}

body {
	background-image: url("../img/background_tile_light.png");
    background-repeat: repeat;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.439);
}

.jumbotron img {
	height: auto;
	max-height: none;
	max-width: 100%;
	width: auto;
}

.jumbotron h1 {
	font-size: 40px;
	font-weight: bold
}

.jumbotron dl, .jumbotron p, .jumbotron a {
	font-size: 17px;
}

.panel-footer p {
	font-size: 12px;
}

@media ( max-width :440px) {
	.jumbotron dl, .jumbotron p, .jumbotron a {
		font-size: 15px;
	}
	.jumbotron h1 {
		font-size: 34px;
	}
	.jumbotron h2 {
		font-size: 30px;
	}
	.panel-footer p {
		font-size: 11px;
	}
}

@media ( max-width :380px) {
	.jumbotron dl, .jumbotron p, .jumbotron a {
		font-size: 11px;
	}
	.jumbotron h1 {
		font-size: 28px;
	}
	.jumbotron h2 {
		font-size: 24px;
	}
	.panel-footer p {
		font-size: 10px;
	}
}

@media ( max-width :767px) {
}

@media ( min-width :768px) {
}

@media ( min-width :992px) {
}

@media ( min-width :1200px) {

}

.jumbotron dt {
	width: 50px;
	text-align: left;
}

.jumbotron dd {
	margin-left: 70px;
}

.sharp {
	border-radius: 0;
	background-image: none;
	border: 0;
}

.small-img img {
	height: auto;
	width: 128px;
}

.jumbotron { 
	border: 4px;
	border-radius: 15px;
}

ul.hidden {
    display: none;
}

#owl .item {
	margin: 0px;
}

#owl .item img{
	max-height: 200px
 	width: auto;
}

@media(min-height: 480px ){
	#owl .item img{
		max-height: 280px;
	}
}

@media(min-height: 600px ){
	#owl .item img{
		max-height: 400px;
	}
}

@media(min-height: 700px ){
	#owl .item img{
		max-height: 400px;
	}
}

@media(min-height: 900px ){
	#owl .item img{
		max-height: 600px;
	}
}

@media(min-height: 1080px ){
	#owl .item img{
		max-height: 880px;
	}
}

@media(min-height: 1280px ){
	#owl .item img{
		max-height: 980px;
	}
}

.owl-carousel .owl-wrapper-outer  {
	padding-bottom: 2em;
	text-align: center;
}

.video_background{
	position:relative;
	z-index: 0;
}

.overlay {
    /*position: relative;*/
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    z-index: 1;	
    /*display: inline-block;*/
    bottom: 2%;
    text-align: center;
}

.overlay > div {
		position: relative;
		/*position: absolute;*/
		/*left: 50%;*/
	    /*top: 20%;*/
	    /*bottom: 20%;*/
	    /*display: inline-block;*/
 		display: inline-block;
	    margin: 0 auto;
	    /*width: 40%;*/
}

.overlay h1 {
	font-size: 25px;
	color:white;
}

.overlay .input-group{
	/*text-align: center;*/
	margin: 0 auto;
	width: 60%;
}

/*@media ( min-width: 500px) {
	.overlay > div {
		left: 15%;
	}
	.overlay h1 {
		font-size: 25px;
	}
}

@media ( min-width: 700px) {
	.overlay > div {
		left: 50%;
	    
	}

	.overlay h1 {
		font-size: 30px;
	}
}*/

/*@media ( min-width: 1000px) {
	.overlay > div {
		left: 60%;
	}

	.overlay h1 {
		font-size: 35px;
	}
}

@media( min-height: 500px){
	.overlay > div {		
	    top: 70%;
	}
}

@media( min-height: 1000px){
	.overlay > div {		
	    top: 80%;
	}
}*/

.margin-top > div {
	margin-bottom: 26px;
}

.owl-carousel .owl-wrapper-outer {
	background-image: url("../img/frame-tiled-small.png");
    background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	padding-bottom: 0px;
}

#explain > p{
	margin-top: 20%;
}

div.row div.row div  p {
	margin-top: 15%;
}

div.row div.row div {
	padding-left: 10px;
	padding-right: 10px;
}