div.main {
    padding-top: 80px;
}

.navbar-header img {
	height: auto;
	max-height: 50px;
	max-width: none;
	width: auto;
}

.jumbotron img {
	height: auto;
	max-height: none;
	max-width: 100%;
	width: auto;
}

.row div {
	padding-bottom: 2em;
}

.jumbotron h1 {
   	font-size: 40px;
   	font-weight: bold
}

.jumbotron dl, .jumbotron p {
	font-size: 18px;
}

@media(max-width:767px){
	.row p {
		font-size: 30px;
	}
}

@media(min-width:768px){
}

@media(min-width:992px){
}

@media(min-width:1200px){
}

.jumbotron dt {
	width: 50px;
	text-align: left;
}

.jumbotron dd {
	margin-left: 70px;
}