div.main {
    padding-top: 80px;
}

.navbar-header img {
	height: auto;
	max-height: 50px;
	max-width: none;
	width: auto;
}

.jumbotron img {
	height: auto;
	max-height: none;
	max-width: 100%;
	width: auto;
}

.row div {
	padding-bottom: 2em;
}

.jumbotron h1 {
   	font-size: 40px;
   	font-weight: bold
}

.jumbotron dl, .jumbotron p, .jumbotron a {
	font-size: 17px;
}

.panel-footer p {
   	font-size: 12px;
}

@media(max-width:440px){
	.jumbotron dl, .jumbotron p, .jumbotron a {
		font-size: 15px;
	}
	.jumbotron h1 {
	   	font-size: 34px;
	}
	.jumbotron h2 {
	   	font-size: 30px;
	}
	.panel-footer p {
   		font-size: 11px;
	}
}

@media(max-width:380px){
	.jumbotron dl, .jumbotron p, .jumbotron a {
		font-size: 11px;
	}
	.jumbotron h1 {
	   	font-size: 28px;
	}
	.jumbotron h2 {
	   	font-size: 24px;
	}
	.panel-footer p {
   		font-size: 10px;
	}
}

@media(max-width:767px){
}

@media(min-width:768px){
}

@media(min-width:992px){
}

@media(min-width:1200px){
}

.jumbotron dt {
	width: 50px;
	text-align: left;
}

.jumbotron dd {
	margin-left: 70px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sharp {
	border-radius: 0;
	background-image: none;
	border: 0;
}


.small-img img {
	height: auto;
	width: 128px;
}

.jumbotron{
	 #border: 4px;
    border-radius: 15px;
}	

