body{
  font-family: Helvetica,Arial,sans-serif;
}

div.main {
	padding-top: 30px;
}

.navbar-brand > img {
	max-width: 24px;
	vertical-align:middle;
	float:left;
}

.navbar-brand > span{
	padding-left:10px;
	float:left;
	font-size: 24px;
	font-weight: bold;
	color: white;
	line-height: 24px;
	vertical-align:middle;
}

.navbar .image-clip {
	max-height: 18px;
	height: auto;
	width: auto;
}

.social > li > a{
	padding-right: 7px;
	padding-left: 7px;
}

.social> li.dropdown > a{
	padding-right: 30px;
	padding-left: 30px;
}

body {
	background-image: url("../img/background_tile_light.png");
    background-repeat: repeat;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.439);
}

.jumbotron img {
	height: auto;
	max-height: none;
	max-width: 100%;
	width: auto;
}

.jumbotron h1 {
	font-size: 28px;
	font-weight: bold
}

.jumbotron h2 {
	font-size: 26px;
}

.jumbotron dl, .jumbotron p, .jumbotron a {
	font-size: 17px;
}

.panel-footer p {
	font-size: 12px;
}

@media ( max-width :380px) {
	.jumbotron dl, .jumbotron p, .jumbotron a {
		font-size: 11px;
	}
	.jumbotron h1 {
		font-size: 24px;
	}
	.jumbotron h2 {
		font-size: 22px;
	}
	.panel-footer p {
		font-size: 10px;
	}
}

@media ( max-width :440px) {
	.jumbotron dl, .jumbotron p, .jumbotron a {
		font-size: 15px;
	}
	.panel-footer p {
		font-size: 11px;
	}
}

@media ( max-width :767px) {
}

@media ( min-width :768px) {
}

@media ( min-width :992px) {
}

@media ( min-width :1200px) {

}

.jumbotron dt {
	width: 50px;
	text-align: left;
}

.jumbotron dd {
	margin-left: 70px;
}

.sharp {
	border-radius: 0;
	background-image: none;
	border: 0;
}

.small-img img {
	height: auto;
	width: 128px;
}

.jumbotron { 
	border: 4px;
	border-radius: 15px;
}

ul.hidden {
    display: none;
}

#owl .item {
	margin: 0px;
}

#owl .item img{
	max-height: 200px
 	width: auto;
}

@media(min-height: 480px ){
	#owl .item img{
		max-height: 280px;
	}
}

@media(min-height: 600px ){
	#owl .item img{
		max-height: 400px;
	}
}

@media(min-height: 700px ){
	#owl .item img{
		max-height: 400px;
	}
}

@media(min-height: 900px ){
	#owl .item img{
		max-height: 600px;
	}
}

@media(min-height: 1080px ){
	#owl .item img{
		max-height: 880px;
	}
}

@media(min-height: 1280px ){
	#owl .item img{
		max-height: 980px;
	}
}

.owl-carousel .owl-wrapper-outer  {
	padding-bottom: 2em;
	text-align: center;
}

.video_background{
	position:relative;
	z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    z-index: 1;	
    bottom: 5%;
	text-align: center;
}

.jumbotron .overlay{
	position: relative;
    width: 100%;
    /*z-index: 1;	*/
    /*bottom: 5%;*/
	/*text-align: center;	*/
}

.overlay > div {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

.overlay h1 {
	font-size: 30px;
	color: white;
	text-shadow: -1px 0 #CCCCCC, 0 1px #CCCCCC, 1px 0 #CCCCCC, 0 -1px #CCCCCC;
}

.overlay .input-group {
	margin: 0 auto;
}

.never-miss-a-trade {	
	position: absolute;
    width: auto !important;
    z-index: 1;
    bottom: 20%;
	right: 5%;
	text-align: center;
}

.never-miss-a-trade h1 {
	font-size: 35px;
	color: white;
	text-shadow: -1px 0 #BEBEBE, 0 1px #BEBEBE, 1px 0 #BEBEBE, 0 -1px #BEBEBE;
	text-decoration: none;
}


.never-miss-a-trade a:link {
    text-decoration: none;
}

.never-miss-a-trade a:visited {
    text-decoration: none;
}

.never-miss-a-trade a:hover {
    text-decoration: none;
}

.never-miss-a-trade a:active {
    text-decoration: none;
}

@media ( max-width :380px) {

}

@media ( max-width :440px) {

}

@media ( max-width :767px) {
	.overlay .input-group {
		width: 100%;
	}
}

@media ( min-width :768px) {
	.overlay .input-group {
		width: 40%;
	}
}

@media ( min-width :992px) {
	.overlay .input-group {
		width: 32%;
	}
}

@media ( min-width :1200px) {
	.overlay .input-group {
		width: 55%;
	}
}

.margin-top > div {
	margin-bottom: 26px;
}

.owl-carousel .owl-wrapper-outer {
	background-image: url("../img/frame-tiled-small.png");
    background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	padding-bottom: 0px;
}

#explain > p{
	margin-top: 20%;
}

div.row div.row div  p {
	margin-top: 15%;
}

div.row div.row div {
	padding-left: 10px;
	padding-right: 10px;
}

.owl-theme .owl-controls .owl-page span {
	background: #237EA0 !important;
}
